$backgroundColor: #fff;
$textColor: #202020;
$bodyFont: 'Open Sans', sans-serif;
$navFont: 'PT Sans', sans-serif;
$navColor: #f1f1f1;
$navLinkHover: #b2484c;

$tablet: 768px;
$desktop: 1200px;
$desktopLarge: 1600px;